main > table {
  max-width: 100%;
  border-collapse: collapse;
  margin: 0 auto;

  th,
  td {
    padding: 0.25rem;
    border: 1px solid #dee2e6;
  }

  th {
    background-color: #f8f9fa;
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f8f9fa;
      }

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
