@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  max-width: 1000px;
  margin: 0 auto;
  // background-color: #000;
  // color: #fff;
}

header {
  display: flex;
  align-items: center;

  h1 {
    font-size: 2rem;
    margin: 0;
  }

  nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
  }
}

.section {
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}
