@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$container-width: 1000px;

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

header {
  border-bottom: 1px solid #000;

  h1 {
    font-size: 1.7rem;
    margin: 0;
  }

  nav {
    margin-left: auto;
    display: flex;
    gap: 1rem;
  }
}

main {
  max-width: $container-width;
  margin: 0 auto;
  padding-inline: 1rem;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

ul.blog-list {
  list-style: none;

  li {
    padding-block: 0.25rem;
  }
}
