{% extends "base.html" %}

{% block content %}
<div class="post-header">
  <h1 class="blog-title">
    {{ page.title }}
  </h1>
  <p class="subtitle">{{ page.date }}</p>
</div>

{% if config.extra.table_of_contents %}
{% if page.toc %}
<ul class="toc">
  {% for h1 in page.toc %}
  <li class="toc-h1-item">
    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
    {% if h1.children %}
    <ul class="toc-h2">
      {% for h2 in h1.children %}
      <li class="toc-h2-item">
        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endif %}

{{ page.content | safe }}
{% endblock content %}

{% block footer %}
<footer>
  <p>Footer content goes here.</p>
</footer>
{% endblock footer %}